<p id="notice"><%= notice %></p>

<h1>Search Results</h1>

<p>
  <b>Results:</b>
<table>
  <tr>
    <th>Users</th>
  </tr>
  <ul>
    <% if @found_users %>
        <% @found_users.each do |user| %>
            <li>
              <%= link_to user.name, :action=>"show" , :id=>user.id %>
            </li>

        <% end %>
   </ul>
    <% else %>
        <h2>No results found.</h2>
  <% end %>
    </table>
</p>



