<p id="notice"><%= notice %></p>

<h1>Search Results</h1>

<p>
  <b>Results:</b>
<table>
  <tr>
    <th>Users</th>
  </tr>
  <ul>
    <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, :controller=>"user", :action=>"show", :id=>user %></td>
        </tr>
        </ul>
    <% end %>
    </table>
</p>



