
  <div><b><%= comment.username %></b> says: <%= comment.body %> (<%= comment.votes %> votes) </div>
  <%#= link_to 'Destroy Comment', comment,
              :confirm => 'Are you sure?',
              :method => :delete %>